@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.ContentModal__title {
  height: 12%;
  font-size: 5vw;
  padding-top: 100px;
  align-items: center;
}

.btn_video{
  color: black;
  background-color: black;
}
.tagline {
    padding-bottom: 10px;
    padding-top: 20px;
    align-self: center;
  }

  .ContentModal__portrait {
    border-radius: 10px;
    float: left;
    padding-right: 10px ;
  }

  .ContentModal__landscape {
    border-radius: 10px;
  }

  .ContentModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .ContentModal::-webkit-scrollbar {
    display: none;
  }

  .ContentModal__about {
    padding: 10px;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    justify-content: space-evenly;
    font-weight: 200;
  }


  .ContentModal__description {
    display: flex;
    height: 90%;
    padding: 15px;
    border-radius: 20px;
    scrollbar-width: thin; 
    box-shadow: inset 0 0 5px #ffffff;
    text-align: justify;
  }

  .like_movie{
    border-radius: 50px;
    border: 2px solid #bebebe;
    background: #bebebe;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    float: right;
  }

  @media (min-width: 835px) {
    .ContentModal__landscape {
      display: none;
    }
    .ContentModal__portrait {
      display: flex;
      width: 38%;
    }
    .ContentModal {
      flex-direction: row;
      justify-content: space-around;
      padding: 10px 0;
    }
    .ContentModal__about {
      width: 58%;
      padding: 0;
      height: 100%;
    }
    .ContentModal__title {
      font-size: 3.5vw;
    }
    .ContentModal__description {
      font-size: 18px;
    }
  }