.card_login{
    width: 500px;
    padding: 5px;
    margin: 5px 0;
    background-color: #a9c6ff;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}

.text-center{
    color : black
}

.form_{
    color: black;
    padding: 10px;
}

