* {
  margin: 0;
}

.app
{
  min-height: 100vh;
  background-color: #e9e9e9;
  color: white;
  padding-bottom: 100px;
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}
