.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #d1cfcf;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    color: black;
  }
  
  .media:hover {
    background-color: white;
    color: black;
  }
  
  @media (max-width: 550px) {
    .media {
      width: 46%;
    }
  }
  
  .poster {
    border-radius: 10px;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
  }
  
  .dateTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
  }

  .votebox{
      outline: beige;
      border-radius: 10px;
      width: fit-content;
      padding: 8px;
     font-size: small;
      background-color: rgb(255, 187, 0);
  }